
# Bibliotecas para procesamiento de datos
pandas==1.3.3    # Pandas para manipulación y análisis de datos en Python
numpy==1.21.2    # Numpy para operaciones matemáticas y manejo de arrays

# Bibliotecas para visualización de datos (si es necesario)
matplotlib==3.4.3  # Matplotlib para crear gráficos
seaborn==0.11.2    # Seaborn para visualización avanzada

# Bibliotecas adicionales para análisis de datos y estadísticas
scikit-learn==0.24.2  # Scikit-learn para modelos de machine learning y análisis estadístico
scipy==1.7.1         # SciPy para optimización, álgebra lineal, etc.

# Si vas a trabajar con Kafka para streaming (si aplicas en tu pipeline)
kafka-python==2.0.2   # Kafka para interacciones con Apache Kafka

# Para pruebas y desarrollo (si lo necesitas)
pytest==6.2.4   # Framework para pruebas unitarias en Python


# Si usas Redis o alguna otra tecnología en tu proyecto
redis==3.5.3   # Redis para trabajar con bases de datos en memoria (si aplicas)

# Para realizar tareas de paralelismo o procesamiento distribuido
concurrent-log-handler

# Librerías necesarias para la ejecución de scripts en contenedores
docker==5.0.0    # Docker SDK para interactuar con contenedores desde Python

# Opcional si trabajas con alguna biblioteca para la gestión de configuraciones
pyyaml==5.4.1   # PyYAML para manejo de archivos de configuración en YAML
